@media (max-width: 400px) { 
	.imgwrapper {
		width: 100%;
		height: 100%;
	}
	.setwidth{
		max-width: 100%;
		height: auto;
	}
	.setheight {
		max-height: 100%;
		width: auto;
	}
	.intro {
		display: block;
	}
	.content {
		display: none;
	}
	.tidbit {
		display: none;
	}
}

@media (min-width: 401px) { 
	.imgwrapper {
		width: 400px;
		height: auto;
	}
	.intro {
		display:block;
	}
	.content {
		display: none;
	}
	.tidbit {
		display: none;
	}
}



h1 {
	font-family: Libre-Baskerville;
	font-size: 1.2em;

}

h2 {

}

p {

}

h6 {

}

/*This needs to be temporary so that when I start making the responsive encyclopedia
 entry it can be associated with this*/